[submodule "picolibc"]
	path = tool-chain/picolibc
	url = git@gitlab.com:sfu-rcl/taiga-picolibc.git
	branch = master
[submodule "embench"]
	path = benchmarks/embench
	url = git@gitlab.com:sfu-rcl/taiga-embench.git
	branch = taiga-picolibc
[submodule "riscv-compliance"]
	path = benchmarks/riscv-compliance
	url = git@gitlab.com:sfu-rcl/taiga-riscv-compliance.git
	branch = taiga-sim
[submodule "taiga-dev"]
	path = taiga
	url = git@gitlab.com:sfu-rcl/Taiga-dev.git
	branch = master
[submodule "gcc"]
	path = tool-chain/gcc
	url = https://github.com/gcc-mirror/gcc.git
	branch = releases/gcc-10
[submodule "verilator"]
	path = tool-chain/verilator
	url = http://git.veripool.org/git/verilator
	branch = master
[submodule "binutils-gdb"]
	path = tool-chain/binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
	branch = binutils-2_35-branch
[submodule "newlib-cygwin"]
	path = tool-chain/newlib-cygwin
	url = git://sourceware.org/git/newlib-cygwin.git
	branch = master
[submodule "benchmarks/taiga-coremark"]
	path = benchmarks/taiga-coremark
	url = git@gitlab.com:sfu-rcl/taiga-coremark.git
	branch = master
