[submodule "embench"]
	path = embench
	url = git@github.com:UBC-ORCA/embench-iot.git
[submodule "cva5"]
	path = cva5
	url = git@github.com:UBC-ORCA/cva5.git
[submodule "rvv-tests"]
	path = rvv-tests
	url = git@github.com:UBC-ORCA/rvv-tests.git
[submodule "utils/riscv-gnu-toolchain"]
	path = utils/riscv-gnu-toolchain
	url = git@github.com:UBC-ORCA/riscv-gnu-toolchain.git
[submodule "utils/picolibc"]
	path = utils/picolibc
	url = git@github.com:UBC-ORCA/picolibc.git
[submodule "utils/verilator"]
	path = utils/verilator
	url = git@github.com:verilator/verilator.git
